<% Skill.distinct.pluck(:category).each do |category| %> 
  <div>
    <%= skills_form.label :category, category.upcase %>
    <%= skills_form.collection_select(:skills, Skill.where(category: category), :id, :skill_name, {include_hidden: false}, {multiple: true, class: "form-control"}) %>
  </div>
<% end %>