if ($('.error-message').length >= 1) {
	$('.error-message').fadeOut('slow'); 
	$('.error-message').remove();
}
$('h1.full-name').before("<p class='error-message' style='display:none;'>Invalid file extension, only file of formats .jpg/ .jpeg/ .gif/ .png,/ .tiff are allowed.</p>")
$('.error-message').fadeIn('slow');
																									 	