

<div class="parallax"></div>
<div class="container">

<br>
<br>
<br>
<br>

<div class="row">
<div class=" col-sm-6">
<%= image_tag "admin.png", class:"img-circle my-img center-block"  %>
<h1 class="middle1"> Insert Employee Name Here </h1>
</div>
<div class="col-sm-6">
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1 class="middle1"> Input your project </h1>

</div>
</div>
