

<div class="parallax"></div>
<div class="container">

<br>
<br>
<br>
<br>

<div class="row">
<div class=" col-sm-6">
<%= image_tag "admin.png", class:"img-circle my-img center-block"  %>
<h1 class="middle1"> Joseph Wong </h1>
<h4 class="middle1"> This is joseph's bio if we want to have a short bio here. </h4>
</div>
<div class="col-sm-6"{
background-color: #e3e3e3;
}>

  <h1 class="middle1"> What's your project? </h1>
  <form>
<div class="form-group">
  <label for="exampleInputEmail1">Project Name</label>
  <input type="email" class="form-control" id="exampleInputEmail1"placeholder="Email">
</div>
<div>
  <label for="exampleInputEmail1">Project Description</label>
    <textarea class="form-control" rows="3"></textarea>
</div>
<br>
<div>
<button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
</div>
</form>
<br>

  <h1 class="middle1"> Choose skills needed for project</h1>
<form>
  <select multiple class="form-control">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</select>
<br>
<form>
  <select multiple class="form-control">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</select>
<br>
<form>
  <select multiple class="form-control">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</select>
<br>
<form>
  <select multiple class="form-control">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</select>

</div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
