@import "bootstrap-sprockets";
@import "bootstrap";
@import "propeller.min";
@import "propeller_overwrite";
@import "projects";
@import 'sessions';
@import 'pages';
@import 'users';
@import 'skills';

/* Propeller typography */
@import "http://propeller.in/components/typography/css/typography.css";
//
/* Propeller buttons */
@import "http://propeller.in/components/button/css/button.css";
//
// /* Propeller icons */
// @import "http://fonts.googleapis.com/icon?family=Material+Icons";
// @import "http://propeller.in/components/icons/css/google-icons.css";
//
// /* Propeller card css */
// @import "http://propeller.in/components/card/css/card.css";

.navbar {
 background-color: transparent;
 background: transparent;
 border-color: transparent;
}

.navbar {
  color: #000;
  padding-top: 10px;
  margin-bottom: auto;
  position: fixed;
}

.navbar1 {
  background-color: transparent;
  background: transparent;
  border-color: transparent;
}

body {
  font-family: 'OpenSans';
}

.parallax_nav {
  /* The image used */
  background-image: url("homeimage.png");

  /* Set a specific height */
  min-height: 250px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.each-contact {
  width: 200px;
}

.read-notification {
  background-color: #c4d4ed;
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
