// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.herotext_squad {
 font-size: 50px;
 font-weight: 900;
 color: white;
}

.herotext_squad {
 font-size: 50px;
 font-weight: 900;
 color: white;
}

.projects_title_desc {
  font-size: 20px;
  color: white;
}
.projects_title_desc_bk {
  font-size: 20px;
  color: black;
}

.projects_title {
  font-size: 40px;
  color: white;
}

.projects_title_bk {
  font-size: 40px;
  color: black;
}

.projects_header {
  font-size: 30px;
  color: white;
}

.projects_header_bk {
  font-size: 30px;
  color: black;
}

.projects_sub {
  font-size: 15px;
  color: white;
}

.projects_sub_bk {
  font-size: 15px;
  color: black;
}

.projects_darkblue {
background-color: #2C3E50;
height: 400px;
}

.projects_blue2 {
background-color: #B3E1E8;
height: 400px;
}

.projects_beige {
background-color: #EB8023;
height: 200px;
}
