// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.parallax1 {
  /* The image used */
  background-image: url("homeimage.png");

  /* Set a specific height */
  min-height: 120px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.landing_center{
  padding-left: 50px;
  padding-right: 100px;
}

.session_signin_hero{
  font-size: 50px;
  font-weight: 900;
  color: white;
}

.session_signin_sub_hero{
  font-size: 50px;
  font-weight: 900;
  color: white;
}

.session_text_hero{
  font-size: 50px;
  font-weight: 900;
  color: black;
}

.session_form_size{
  width: 100%
}

.my-img1 {
  width: 200px;
  height: 200px;
}

.middle {
  text-align: center;
}

.sessions_darkblue {
  background-color: #2C3E50;
  height: 400px;
}
