// Place all the styles related to the skills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.parallax_index {
    /* The image used */
    background-image: url("index_skills.png");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img_index {
    /* Set a specific height */
    min-height: 200px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.index_biege {
background-color: #EB8023;
height: 300px;
}

.index_blue {
background-color: #B3E1E8;
}

.text {
    font-size: 50px;
    left: 0;
    position:absolute;
    text-align:center;
    top: 300px;
    width: 100%
}

.text1 {
    font-size: 100px;
    left: 0;
    position:absolute;
    text-align:center;
    top: 700px;
    width: 100%
}
