// Place all the styles related to the skills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.herotext {
 font-size: 80px;
 font-weight: 900;
 color: white;
}
.subtext {
 font-size: 35px;
 font-weight: 900;
 color: white;
}

.skill_element{
    padding-left:  -10px;
    padding-right:  10px;
  }

.skills_card {
padding-left: 10px;
padding-top: 10px;
float: 10px;
position: relative;
}

.skills_button {
  position: absolute;
  width: 89%;
  bottom: 0;
  right: 0;
  left: 0;
}

.btn-primary, .dropdown-toggle.btn-primary {
  background-color: #445b71;
}


.parallax_index {
    /* The image used */
    background-image: url("index_skills.png");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card_img {
    width: 100%;
}

.img_index {
    /* Set a specific height */
    min-height: 200px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.my-img {
  min-height: 100%;
  width: 300px;
}

.index_biege {
background-color: #EB8023;
height: 300px;
}

.index_darkblue {
background-color: #2C3E50;
padding-top: 15px;
}

.index_blue2 {
background-color: #B3E1E8;
}

.index_blue3 {
background-color: #B3E1E8;
height: 300px;
}

.text {
    font-size: 50px;
    left: 0;
    position:absolute;
    text-align:center;
    top: 300px;
    width: 100%
}

.text1 {
    font-size: 100px;
    left: 0;
    position:absolute;
    text-align:center;
    top: 700px;
    width: 100%
}
