// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.parallax {
    /* The image used */
    background-image: url("homeimage.png");

    /* Set a specific height */
    min-height: 200px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.middle1 {
  text-align: center;
}

.usersheader {
 font-size: 50px;
 color: black;
}

.hruser {
    border: none;
    height: 20px;
}

.userssub {
 font-size: 20px;
 color: black;
}

.user_blue {
  background-color: #B3E1E8;
}

#edit-icon img {
  height: 20px;
  width: 20px;
  float: right;
  margin-right: 150px;
}

.card_height {
    /* Set a specific height */
    min-height: 150px;
}

.card_height_approved {
    /* Set a specific height */
    min-height: 120px;
}

.edit_user {
  margin-left: 200px;
}

.error-message {
  padding-left: 220px;
}

.user_darkblue {
background-color: #2C3E50;
}

.user_skill_height {
min-height: 100px;
}

.user_title_desc {
  font-size: 30px;
  color: white;
  weight: 30;
}

.user_skills_title_desc {
  font-size: 50px;
  color: white;
  weight: 30;
}

.user_skills_sub {
  font-size: 30px;
  color: white;
  weight: 30;
}
.user_skills_info {
  font-size: 20px;
  color: white;
  weight: 30;
}

.project-show {
  margin: 0 auto;
}
